<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
        <h1 class="header center blue-grey-text text-lighten-5">The New York Times Scraper</h1>
        <h3 class="center blue-grey-text text-lighten-5">Saved Article</h3>
        <div class="row center">
          <h5 class="header col s12 blue-grey-text text-lighten-5">A responsive scraper for sports articles of The New York Times</h5>
        </div>
        </div>
    </div>
    <div class="parallax"><img src="/assets/images/background.jpg" alt="newyorktimes"></div>
</div><hr />

<div class="container">
    {{#each articleData}}
    {{#if this.saved}}
    <div class="row">
        <div class="card grey lighten-5 col s12">
            <div class="col s8">
                <div class="card-content">
                    <span class="card-title">{{this.title}}</span>
                    <hr />
                    <p>{{this.summary}}</p>
                </div>
            </div>
            <div class=" card col s4">
                <img class="responsive-img" src="{{this.image}}" alt="article image">
            </div>
        <div class="card-content center-align">
            {{!-- View Article button --}}
            <div class="col s4 card-links">
                <a href="{{this.link}}" class="white-text" target="_blank"><button class="btn">View Article</button></a>
            </div> 
            {{!-- Comment here --}}
            <div class="col s4 card-links">
                <button class="waves-effect waves-light btn modal-trigger view-comments-button" data-target="comment-modal" data-dbid={{this._id}}>Comment</button>
                    {{!-- modal content --}}
                    <div id="comment-modal" class="modal">
                        <div class="modal-content">
                            <h4 class="modal-title"></h4>
                                <div class="comment-display-root"></div>
                                    <textarea class="materialize-textarea" id="comment-input"></textarea>
                                    <label class="active" for="comment-input">Add new comment</label>
                                </div>
                        <div class="modal-footer">
                            <button data-dbid="" class="modal-action modal-close waves-effect waves-light btn save-comment-button">Save Comment</button>
                            <button class="modal-action modal-close waves-effect wave-light btn">Close</button>
                        </div>
                    </div>
            </div>
            {{!-- Delete Button --}}
            <div class="col s4 card-links">
                <button data-dbid="{{this._id}}" class="btn delete-from-saved-button">Deleted Article</button>
            </div>
        </div>
    </div>  
    </div> 
    {{/if}}
    {{/each}}
</div>